body {
    background-color:rgb(230, 79, 79);
    font-size: 10pt;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: black;
    line-height: 14pt;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 5pt;
  }

.header{
    background-color: silver;
    width:100%;
    top: 0;
    left: 0;
    text-align: center;
    position: absolute;
}
.page{
    padding-top: 180px;
}

  h1 {
    font: 18pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 20pt;
  }
  h2 {
    font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 16pt;
  }
  h3 {
      font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-style: italic;
      line-height: 20pt;
  }
  img {
    padding: 3pt;
    float: center;
  }
  table, th, td {
      border: solid 2px rgb(32, 34, 36);
      border-collapse: collapse;
  }
  table {
    width: 100%;
  }
  a {
    text-decoration: none;
  }
  a:link, a:visited {
    color: black;
  }
  a:hover, a:active {
    color: white;
  }
